@import '../../styles/functions.scss';

header.top {
  height: var(--header-height);
  background-color: var(--header-bg);
  display: flex;
  align-items: center;
  padding-left: spacing(3);
  padding-right: spacing(1);

  h1 {
    margin-left: spacing();
  }
  .button-group {
    margin-left: auto;
  }
}
