main.login {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('../../images/login/login-bg.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.075;
    z-index: -1;
  }

  .card {
    width: 30rem;
  }

  .logo {
    height: 6rem;
    margin-bottom: calc(var(--spacing) * 2);
  }
}
