@import '../../styles/functions.scss';

main {
  min-height: 100vh;
  min-width: 100vw;
}

.page-content {
  display: grid;
  grid-column: span 2;
  grid-template-columns: repeat(12, 1fr);
  padding: spacing(2);
  grid-gap: spacing(2);
  position: relative;
  // Above the sidebar shadow
  z-index: 11;
}
