.form-field {
  --error-height: 2.5rem;
  --gap: 0.5rem;
  padding-bottom: calc(var(--error-height) + var(--gap));
  position: relative;

  &:last-child { margin-bottom: 0; }
  user-select: none;
  grid-column: span 2;

  & > label:not(.switchDual), label.label {
    display: block;
    font-weight: 500;
    color: var(--label-color);
    margin-bottom: 0.5rem;
    font-size: var(--label-fs);
    text-align: left;
    opacity: 0.8;
    transition: all var(--transition-time);
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  & > * {
    position: relative;
    z-index: 1;
  }

  span.error {
    position: absolute;
    color: var(--color-error);
    bottom: calc(var(--gap) + var(--border-radius));
    left: 0;
    width: 100%;
    font-size: var(--fs-small);
    height: calc(var(--error-height) + var(--border-radius));
    line-height: calc(var(--error-height) + var(--border-radius));
    text-align: left;
    z-index: 0;
    padding-top: var(--border-radius);
    padding-left: 0.5rem;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--color-error);
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
      opacity: 0.1;
    }

    &:empty {
      display: none;
    }
  }

  &.col-span-1 {
    grid-column: span 1;
  }
}


.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
