.app-grid {
  display: grid;
  min-height: 100vh;

  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: var(--header-height) 1fr;

  & > main {
    // grid-area: main;
    min-height: calc(100vh - var(--header-height));
    min-width: calc(100vw - var(--sidebar-width));
  }
}
