@import '../../styles/variables';

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  border: var(--button-border);
  height: var(--comp-height);
  padding: var(--comp-padding);
  font-family: var(--ff-main);
  font-size: var(--comp-fs);
  font-weight: var(--button-fw);
  box-shadow: var(--shadow-10);
  background: var(--button-bg);
  color: var(--button-color);
  cursor: pointer;
  user-select: none;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: var(--transition-time);

  &:hover {
    // background:var(--color-main-dark);
    filter: brightness(0.9);
  }
  &:focus {
    filter: brightness(0.9);
    box-shadow: var(--glow-main);
  }
  &:active {
    filter: brightness(0.8);
  }

  &:disabled {
    background-color: var(--color-disabled);
    opacity: 0.5;
    pointer-events: none;
    box-shadow: none;
  }

  &.circle {
    border-radius: 50%;
    width: var(--comp-height);
  }

  &.hollow {
    box-shadow: none;
  }

  &.bg-grey-10,
  &.bg-grey-20 {
    color: var(--color-grey-50);
  }
}
